.katex .mathdefault {
  font-family: KaTeX_Math;
  font-style: italic;
}

pre {-moz-tab-size: 2;} /* Firefox */
pre {tab-size: 2;}

.use-motion .post-header, .use-motion .post-body {
  visibility: inherit;
}
